<div class="mb-lg-10" style="margin-top: 6rem;">
    <p class="subtitle-sm" data-scroll data-scroll-speed="2" data-scroll-position="top">Hello there!</p>
    <h1 class="display-1 mb-4" data-scroll data-scroll-speed="4" data-scroll-position="top">I'm Hichem,</h1>
    <p data-scroll data-scroll-speed="6" data-scroll-position="top" class="lead typed-elem">France-based <span class="fw-bold text-highlight" data-typed='{"backSpeed": 50,"strings": ["front-end developer", "back-end developer", "fullstack developer", "web designer"]}'></span><span class="d-block">specializing in Node.js, Vue.js & Wordpress development.</span></p>
</div>